# Create table employee insert 6 records and do update salary for all the employees by 500

In [ ]:
import pyodbc

In [70]:
#pyodbc.drivers()

In [71]:
connection = pyodbc.connect('Driver={SQL Server};'
'Server=DESKTOP-L846VMO\SQLEXPRESS;'
'Database=myTable;'
'username=niharika;'
'password=niharika;'
'Trusted_Connection=True;')

cursor=connection.cursor()

In [37]:
#Creating a table
Table = "create table Employee (id bigint NOT NULL, name varchar(10),salary bigint)"
cursor.execute(Table)
cursor.commit()

In [38]:
#Inserting values into table
query = "INSERT INTO Employee(id,name,salary) VALUES('1','John','3000'),('2','Rob','4000'),('3','Adam','5000')"
cursor.execute(query)
cursor.commit()

In [66]:
query = "INSERT INTO Employee(id,name,salary) VALUES('4','Elle','3000'),('5','Ryan','4000'),('6','Jo','5000')"
cursor.execute(query)
cursor.commit()

In [67]:
result = cursor.execute("select * from Employee")
for i in result:
    print(i)

(1, 'John', 2000)
(2, 'Rob', 5000)
(3, 'Adam', 6000)
(4, 'Elle', 3000)
(5, 'Ryan', 4000)
(6, 'Jo', 5000)

In [68]:
#Updating salary of each employee
query = "update Employee set salary=salary+500"
cursor.execute(query)
result = cursor.execute("select * from Employee")
for i in result:
    print(i)

(1, 'John', 2500)
(2, 'Rob', 5500)
(3, 'Adam', 6500)
(4, 'Elle', 3500)
(5, 'Ryan', 4500)
(6, 'Jo', 5500)

In [72]:
cursor.commit()

In [42]:

updation = "update Employee set salary = 500 where id = 1"
cursor.execute(updation)

In [59]:
result = cursor.execute("select * from Employee")
for i in result:
    print(i)

(1, 'John', 1500)
(2, 'Rob', 4500)
(3, 'Adam', 5500)

In [60]:
query = "update Employee set salary=salary+500"
cursor.execute(query)
result = cursor.execute("select * from Employee")
for i in result:
    print(i)

(1, 'John', 2000)
(2, 'Rob', 5000)
(3, 'Adam', 6000)

In [62]:
#obtaining total number of rows
length=int
cursor.execute("select count(*) from Employee")
for i in cursor:
    length=i[0]

In [ ]:
connection.close()